//定义默认字体大小
$baseFontSize : 100px !default;

// pixels to rems 
@function Rem($px) {
  @return $px / $baseFontSize * 1rem;
}

// pixels to 1/2rems 
@function HalfRem($px) {
  @return $px / $baseFontSize * 0.5rem;
}

//左右边距大小
$edgeWidth : HalfRem(16px);

//页面主色
$mainColor : #0097fc;

//浅蓝色
$lightBlueColor : #d1ecff;
//灰色
$grayColor : #999;

//默认字体颜色
$defaultFontColor : #333;
//介绍字体颜色
$descColor: #666;
//英文小字颜色
$engColor : #b5b5b5;

//边框粗细和颜色
$deepBorder : 1px solid #ccc;

//边框粗细和颜色
$lightBorder : 1px solid #eee;

//头部高度
$navBarHeight: HalfRem(80px);
//菜单高度
$tabBarHeight : HalfRem(86px);

$borderRadius : (border-radius:4px, -webkit-border-radius:4px, -o-border-radius:4px, -moz-border-radius:4px);